@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*,
*::before,
*::after {
/*Usar variáveis para as cores que iremos utilizar! Exemplo: */
--color1: white;
--color2: rgb(216, 209, 209);
--color3: rgb(78, 77, 77);
--color4: rgba(64, 100, 52, 0.753);
}

body {
 font-family: "Barlow Condensed";
 margin: 0;
 font-size: 22px;
}

header{
 display: flex;
 flex-direction: row;
 background: linear-gradient(var(--color1), var(--color2));
 margin: 0;
 width: 100%;
 height: 5.5em;
 border-bottom: 0.6px solid var(--color3);
 align-items: center;
 justify-content: space-between;
}

.img-header{
 width: 180px;
 height: 140px;
 margin-left: 20px;
}

.nav-header{
 margin-right: 40px;
}


h1 {
 font-family: "Roboto";
 text-align: center;
 margin: 0;
 margin-top: 10px;
 text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}

fieldset {
 width: 65%;
 margin: auto;
 margin-bottom: 50px;
 padding-top: 30px;
 padding-left: 30px;
 border-radius: 10px;
 background-color: var(--color4);
}

label.alinha {
 width: 250px;
 display: inline-block;
 text-align: right;
 margin-bottom: 30px; 
}

.botoes{
 text-align: center;
}
input, button {
 font-family: "Roboto";
}

button {
 font-size: 20px;
 font-weight: bold;
 width: 250px;
 height: 40px;
 
}

div{
 text-align: center;
 margin-top: 20px;
}

p {
 width: 50%;
 border: 1px solid #777;
 margin: 20px auto;
 text-align: center;
 background: #bfe7a2;
}

span {
 color: #0f083b;
 font-weight: bold;
 font-style: italic;
}

input{
 width: 300px;
}

input.alinha-botao{
    width: 50px;
   
}

