@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*,
*::before,
*::after {
/**** Usar variáveis para as cores que iremos utilizar! ****/
--color1: white;
--color2: rgb(216, 209, 209);
--color3: rgba(64, 100, 52, 0.753);

--color4: #777;
--color5: #f2f2f2;
--color6: #f9f9f9;
--color7: #edecec;
--color8: #ddd;
--color10: rgb(66, 63, 63);
--color13: #ccc;

--color9: rgb(197, 204, 218);
--color11: #bfe7a2;
--color12: rgb(207, 109, 109);
}

body {
 font-family: "Roboto";
 margin: 0;
 font-size: 22px;
}

h1 {
  font-family: "Roboto";
  text-align: center;
  margin: 0 auto;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
 }

/**** HEADER ****/
header{
 display: flex;
 flex-direction: row;
 background: linear-gradient(var(--color1), var(--color2));
 margin: 0;
 width: 100%;
 height: 5em;
 border-bottom: 1px solid var(--color8);
 align-items: center;
 justify-content: space-between;
 a i {
  color: var(--color10);
 }
}

.img-header{
 width: 180px;
 height: 140px;
 margin-left: 20px;
}

.nav-header{
 margin-right: 40px;
}



/**** Cadastrar Ilpi****/
.botao-cadastrar-ilpi{
  border-radius: 25px;
  display: block;
  margin: 20px auto;
  border: none;
  height: 50px;
  background-color:var(--color13);
}
.botao-cadastrar-ilpi:hover{
  background-color: var(--color4);
}

.section-dados-gerais, .section-cadastro-ilpi{
  width: 90%;
  display: block;
  margin: 60px auto;
  color: var(--color10);
}

.section-cadastro-ilpi input[type='text'], input[type='email'], input[type='number']{
  border: 1px solid var(--color8);
  width: 350px;
  min-height: 26px;
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 6px;
  font-size: 18px;
  border-radius: 6px;
}
.section-cadastro-ilpi input[type='number']{
  font-size: 20px;
  width: 60px;
}
.section-cadastro-ilpi input[type='checkbox']{
  width: auto;
}
.textarea{
  border: 1px solid var(--color8);
  color: var(--color10);
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 6px;
  font-size: 18px;
  border-radius: 6px;
  width: 550px;
  min-height: 140px;
  overflow-y: auto;
}

.h1-estilizado{
  text-align: center;
  font-size: 30px;
  color: var(--color10);
  margin-top: 26px;
  }

fieldset {
 width: 70%;
 margin: 10px auto 80px;
 padding-top: 50px;
 padding-left: 90px;
 padding-right: 90px;
 border-radius: 10px;
 background-color: var(--color5);
 border: none;
 box-sizing: border-box;
}

label.alinha {
 font-size: 20px;
 font-weight: 600;
 width: 350px;
 display: block;
 margin-bottom: 5px;
}
label.checkbox{
  font-size: 18px;
}

input, button {
  font-family: "Roboto";
  color: var(--color10);
 }
 
 button {
  font-size: 20px;
  font-weight: bold;
  width: 250px;
  height: 40px;
  
 }
 
 p {
  width: 50%;
  border: 1px solid var(--color4);
  margin: 20px auto;
  text-align: center;
  background: var(--color5);
  border-radius: 15px;
 }
 
 input.alinha-botao{
     width: 50px;  
 }


/****  Home Perfil Administrativo   ****/
.h1-estilizado-home{
  position: absolute;
  left: 650px;
  top: 16px;
  font-size: 25px;
  color: var(--color10);
  margin-top: 15px;
}

.div-botoes-home{
  width: 100%;
  margin: 70px auto;
  text-align: center;
}

.botoes-home{
  font-size: 30px;
  color: var(--color10);
  text-align: center;
  border: none;
  width: 300px;
  height: 250px;
  margin: 0 20px;
  justify-content: space-around;
  background-color: var(--color7);
  border-radius: 15px;
}

.botoes-home:hover{
  background-color: var(--color4);
}


/**** Tabela Dados Gerais   ****/
.section-dados-gerais{
  .h1-estilizado{
    text-align: left;
  }
}
.tabela-dados-gerais {
    border-collapse: collapse;
    width: 100%;
    margin: 5px auto;
    font-family: 'Roboto';
  }

  .tabela-dados-gerais td{
    padding: 18px;
    font-size: 14px;
  }

  .tabela-dados-gerais th, .tabela-dados-gerais td {
    border: 1px solid var(--color8);
    padding: 20px;
    text-align: left;
  }

  .tabela-dados-gerais th {
    background-color: var(--color5);
    font-size: 15px;
  }

  .tabela-dados-gerais tr:nth-child(even) {
    background-color: var(--color6);
  }

  .tabela-dados-gerais tr:hover {
    background-color: var(--color7);
  }

  .tabela-dados-gerais thead {
    position: sticky;
    top: 0px;
    z-index: 1;
    background-color: var(--color5);
  }

  .link-tabela-dados-gerais{
    font-style: none;
    color: rgb(47, 47, 208);
    padding: 12px;
  }
  .link-tabela-dados-gerais:hover{
    background-color: var(--color9);
    border-radius: 15px;
  }

  /**** Perfil Ilpi ***/
  h2{
    margin: 20px 160px; 
    color: var(--color10);
  }

  .perfil-ilpi{
    margin: 30px 160px;
    display: flex;
    color: var(--color10);
  }

  section.perfil-ilpi-left, .perfil-ilpi-right{
    width: 50%;
  }

  .div-perfil{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .titulos-perfil{
    font-size: 18px;
    font-weight: bold;
    width: 250px;
    display: flex;
    justify-content: flex-start;
    margin: 15px 0 5px 0;
  }

  .div-campo{
    display: flex;
  }

  .div-campo i{
    font-size: 15px;
    margin-left: 5px;
    cursor: pointer;
    color: var(--color10);
  }

  .div-campo i:hover{
    color: red;
    }

  .input-perfil{
    box-sizing: border-box;
    margin-top: 2px;
    border: 1px solid var(--color13);
    background-color: var(--color1);
    padding: 8px;
    border-radius: 4px;
    font-size: 16.5px;
    min-height: 23px;
    word-wrap: break-word;
    min-width:400px;
    max-width: 400px;
    display: flex;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: left;
  }

  .input-text-perfil{
    min-height: 200px;
  }

  .input-nao-estilizado {
    border: none;
    outline: none;
    background-color: transparent;
  }

  .botao-editar-perfil{
    border: none;
    border-radius: 5%;
    width: 70px;
    font-size: 13px;
  }

  .botao-editar-perfil:hover{
    background-color: var(--color11);
  }

  .botao-editar-cancelar-perfil:hover{
    background-color: var(--color12);
  }

  .container-convenios{
    height: auto;
  }
  
  .container-convenios div {
    display: block;
    margin-bottom: 5px; 
}