@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*,
*::before,
*::after {
  /**** Usar variáveis para as cores que iremos utilizar! ****/
  --color1: rgb(255, 255, 255);
  --color2: rgb(216, 209, 209);
  --color3: rgba(64, 100, 52, 0.753);

  --color4: #777;
  --color5: #f2f2f2;
  --color6: #f9f9f9;
  --color7: #edecec;
  --color8: #ddd;
  --color10: rgb(66, 63, 63);
  --color13: #ccc;

  --color9: rgb(197, 204, 218);
  --color11: #a3b99d;
  --color12: rgb(47, 47, 208);
}

body {
  font-family: "Roboto";
  margin: 0;
  font-size: 22px;
}

h1 {
  font-family: "Roboto";
  text-align: center;
  margin: 0 auto;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}

/**** HEADER ****/
header {
  display: flex;
  flex-direction: row;
  background: linear-gradient(var(--color1), var(--color2));
  margin: 0;
  width: 100%;
  height: 4.8em;
  border-bottom: 1px solid var(--color8);
  align-items: center;
  justify-content: space-between;

  a i {
    color: var(--color10);
  }
}

.img-header {
  width: 200px;
  height: 155px;
  margin-left: 20px;
}

.nav-header {
  margin-right: 40px;
}



/**** Cadastrar Ilpi****/
.botao-cadastrar-ilpi {
  border-radius: 25px;
  display: block;
  margin: 20px auto;
  border: none;
  height: 50px;
  background-color: var(--color13);
}

.botao-cadastrar-ilpi:hover {
  background-color: var(--color4);
}

.section-dados-gerais,
.section-cadastro-ilpi {
  width: 90%;
  display: block;
  margin: 60px auto;
  color: var(--color10);
}

input[type='text'],
input[type='email'],
input[type='number'],
input[type='password'] {
  border: 1px solid var(--color8);
  width: 350px;
  min-height: 26px;
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 6px;
  font-size: 18px;
  border-radius: 6px;
}

input[type='number'] {
  font-size: 20px;
  width: 100px;
}

input[type='checkbox'] {
  width: auto;
}

.textarea {
  border: 1px solid var(--color8);
  color: var(--color10);
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 6px;
  font-size: 18px;
  border-radius: 6px;
  width: 550px;
  min-height: 140px;
  overflow-y: auto;
  font-family: "Roboto";
}

.h1-estilizado {
  text-align: center;
  font-size: 30px;
  color: var(--color10);
  margin-top: 26px;
}

fieldset {
  width: 70%;
  margin: 10px auto 80px;
  padding-top: 50px;
  padding-left: 90px;
  padding-right: 90px;
  border-radius: 10px;
  background-color: var(--color5);
  border: none;
  box-sizing: border-box;
}

label.alinha {
  font-size: 20px;
  font-weight: 600;
  width: 350px;
  display: block;
  margin-bottom: 5px;
}

label.checkbox {
  font-size: 18px;
}

input,
button {
  font-family: "Roboto";
  color: var(--color10);
}

button {
  font-size: 20px;
  font-weight: bold;
  width: 250px;
  height: 40px;

}

p {
  width: 50%;
  border: 1px solid var(--color4);
  margin: 20px auto;
  text-align: center;
  background: var(--color5);
  border-radius: 15px;
}

input.alinha-botao {
  width: 50px;
}


/****  Home Perfil Administrativo   ****/
.div-botoes-home {
  width: 100%;
  margin: 70px auto;
  text-align: center;
}

.botoes-home {
  font-size: 30px;
  color: var(--color10);
  text-align: center;
  border: none;
  width: 300px;
  height: 250px;
  margin: 0 20px;
  justify-content: space-around;
  background-color: var(--color7);
  border-radius: 15px;
}

.botoes-home:hover {
  background-color: var(--color4);
}


/**** Tabela Dados Gerais   ****/
.section-dados-gerais {
  .h1-estilizado {
    text-align: left;
  }
}

.tabela-dados-gerais {
  border-collapse: collapse;
  width: 100%;
  margin: 5px auto;
  font-family: 'Roboto';
}

.tabela-dados-gerais td {
  padding: 18px;
  font-size: 14px;
}

.tabela-dados-gerais th,
.tabela-dados-gerais td {
  border: 1px solid var(--color8);
  padding: 20px;
  text-align: left;
}

.tabela-dados-gerais th {
  background-color: var(--color5);
  font-size: 15px;
}

.tabela-dados-gerais tr:nth-child(even) {
  background-color: var(--color6);
}

.tabela-dados-gerais tr:hover {
  background-color: var(--color7);
}

.tabela-dados-gerais thead {
  position: sticky;
  top: 0px;
  z-index: 1;
  background-color: var(--color5);
}

.link-tabela-dados-gerais {
  padding: 12px;

  a {
    color: var(--color12);
    font-style: none;
  }
}

.link-tabela-dados-gerais:hover {
  background-color: var(--color13);
  cursor: pointer;
  border-radius: 10px;
}

/*Filtros tabela dados gerais*/
section.filtros {
  width: 100%;
  height: 60px;
  background-color: var(--color11);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid var(--color8);
}

input#filtro {
  margin: 0;
  min-height: 20px;
  width: 300px;
  border-radius: 10px;
  font-size: 15px;
}

.select-container {
  font-size: 15px;
  font-weight: 600;
}

select {
  height: 30px;
  border: none;
  border-radius: 10px;
  font-size: 14px;
}

select#municipio {
  width: 250px;
}

select#convenio {
  width: 160px;
}

button#ordenarVagas {
  width: 200px;
  border: none;
  border-radius: 10px;
  background-color: var(--color1);
  font-size: 16px;
}

button#ordenarVagas:hover {
  background-color: var(--color7);
  cursor: pointer;
}

/* exclusão / modal */
span#spanExcluir {
  position: absolute;
  top: 240px;
  left: 300px;
  font-size: 16px;
  font-weight: 600;
  text-decoration: underline;
  color: red;
}

span#spanExcluir:hover {
  color: rgb(216, 8, 8);
  cursor: pointer;
}

div#modalExcluir {
  position: fixed;
  width: 450px;
  height: 310px;
  background-color: var(--color6);
  padding: 0 !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  border-radius: 10px;

  .modal-body {
    padding: 10px !important;
    margin: 0 !important;
    text-align: center;

    span {
      font-size: 19px;
    }

    ul {
      font-size: 18px;
    }

    .ilpisSelecionadas {
      height: 150px;
      width: 400px;
      border: 0.4px solid var(--color8);
      border-radius: 10px;
      overflow-y: auto;
      margin: 15px auto;
      text-align: start;
    }

    div {
      display: flex;
    }
  }
}

#btnConfirmarExclusao {
  background-color: #61be1e;
  color: var(--color1);
}

#btnConfirmarExclusao:hover {
  background-color: #56af16;
  cursor: pointer;
}

#btnCancelarExclusao {
  background-color: red;
  color: var(--color1);
}

#btnCancelarExclusao:hover {
  background-color: rgb(216, 8, 8);
  cursor: pointer;
}

/**** Perfil Ilpi ***/
.h2-titulo {
  margin: 35px 180px 10px;
  color: var(--color10);
  font-size: 26px;
}

.perfil-ilpi {
  margin: 10px 160px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: var(--color10);
  padding-bottom: 130px;
}

section.perfil-ilpi-left,
.perfil-ilpi-right {
  width: 50%;
  text-align: center;
}

.perfil-ilpi-right div,
.perfil-ilpi-left div {
  width: 401px;
  margin: auto;
}

.div-perfil {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.titulos-perfil {
  font-size: 18px;
  font-weight: bold;
  width: 250px;
  display: flex;
  justify-content: flex-start;
  margin: 15px 0 5px 0;
}

.div-campo {
  display: flex;

  i {
    font-size: 15px;
    margin-left: 5px;
    cursor: pointer;
    color: var(--color10);
  }

  i:hover {
    color: red;
  }
}

.input-perfil {
  box-sizing: border-box;
  margin-top: 2px;
  border: 1px solid var(--color13);
  background-color: var(--color1);
  padding: 8px;
  border-radius: 4px;
  font-size: 16.5px;
  min-height: 32px;
  word-wrap: break-word;
  width: 400px;
  overflow-wrap: break-word;
  text-align: left;
}

.input-text-perfil {
  min-height: 200px;
}


/*** Modal de edição ***/
#modalEditarPerfil {
  position: fixed;
  width: 1000px;
  height: 650px;
  background-color: var(--color6);
  padding: 0 !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  border-radius: 10px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  height: 40px;
  width: 100%;
  line-height: 40px;
  background-color: var(--color5);
  border-radius: 10px;

  span {
    font-weight: 600;
    font-size: 22px;
    line-height: 40px;
    margin: auto;
  }
}

.modal-body {
  box-sizing: border-box;
  margin-top: 10px;
  height: 600px;
  overflow-y: auto;
  padding-left: 50px;
  padding-top: 10px;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 999;
}

/*botões*/
button#btnEditarPerfil {
  position: absolute;
  top: 135px;
  right: 160px;
  background-color: var(-color7);
}

.botao-modal {
  border: none;
  height: 40px;
  border-radius: 10px;
}

.botao-modal:hover {
  background-color: var(--color8);
}

.botao-modal.salvar {
  width: 40%;
  margin-top: 20px;
  margin-left: 250px;
  color: white;
  background-color: #61be1e;
}

.salvar:hover {
  background-color: #56af16;
}

.botao-modal.fechar {
  width: 40px;
}


/*** Gráficos ***/
.container-indicadores{
  display: flex;
  width: 92%;
  margin: 15px auto;
}


.container-grafico {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  border: 0, 5px solid var(--color4);
  width: 40%;
  border-radius: 6px;
}

.container-mapa{
  width: 60%;
}

.grafico {
  margin: auto;
  width: 250px;
  height: 250px;
}

#map {
  height: 400px;
  width: 100%;
}

.container-map {
  display: flex;
  margin-top: 10px;
  justify-content: center;
}


.voltar {
  margin-right: 45px;
}

.div-botoes-login-inicio {
  width: 100%;
  margin: 70px auto;
  text-align: center;
}

.botoes-login {
  font-size: 30px;
  color: var(--color10);
  text-align: center;
  border: none;
  width: 300px;
  height: 250px;
  margin: 0 20px;
  justify-content: space-around;
  background-color: var(--color7);
  border-radius: 15px;
}


.logout {
  text-decoration: none;
  color: var(--color10);
  font-weight: 600;
  margin-right: 20px;
}

#logout:hover {
  color: var(--color4);
}


#idIlpi {
  font-size: 16px;
  color: var(--color4);
  font-weight: 600;
  position: relative;
  bottom: 8px;
  left: 180px;
  width: 200px;
}

#aviso-primeiro-acesso {
  font-size: 16px;
  color: red;
  font-weight: 600;
  position: relative;
  bottom: 10px;
  left: 180px;
  margin-top: 10px;
  width: 400px;
}


/*RESPONSIVIDADE*/
@media only screen and (max-width: 1200px) {
  .div-botoes-home {
    width: 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;

    .botoes-home {
      margin-top: 30px;
    }
  }

  .perfil-ilpi {
    flex-direction: column;
    margin-top: 40px;
  }

  #modalEditarPerfil {
    width: 700px;

    .botao-modal.salvar {
      margin-left: 160px;
    }
  }

  button#btnEditarPerfil {
    position: absolute;
    top: 250px;
    left: 180px;
  }
}